@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
.bebas-neue-regular {
	font-family: 'Bebas Neue', sans-serif;
	font-weight: 400;
	font-style: normal;
}

* {
	margin: 0px;
	padding: 0px;
}

:root {
	--cor0: rgb(236, 250, 255);
	--cor1: rgb(249, 77, 255);
	--cor2: rgb(155, 54, 202);
	--cor3: rgb(255, 255, 156);
	--cor4: rgb(255, 214, 195);
	--cor5: rgb(219, 107, 107);
}

body {
	background-color: var(--cor0);
	text-decoration: none;
}

/*header*/
header {
	background-image: linear-gradient(to bottom, var(--cor1), var(--cor2));
	min-height: 60px;
	border-radius: 20;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.486);
}
header > h1 {
	font-family: 'Times New Roman', Times, serif;
}
header > p {
	font-size: 1em;
}

header > img {
	width: 50px;

	float: left;
}

/*main*/
main {
	background-color: white;
	margin: auto;
	min-width: 320px;
	max-width: 1100px;
	border-radius: 0px 0px 15px 15px;
	padding: 10px 0px 10px 25px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.486);
}
main > h2 {
	color: black;
	background-image: linear-gradient(to right, var(--cor3), transparent, transparent);
	font-weight: bold;
	text-indent: 7px;
	font-weight: normal;
	font-family: 'Bebas Neue', sans-serif;
	border-radius: 5px;
}

main > p {
	margin: 15px 0px;
	text-align: justify;
	text-indent: 30px;
	font-size: 1em;
	line-height: 1.5em;
	font-family: Arial, Helvetica, sans-serif;
	padding-right: 25px;
}

main > a {
	text-decoration: none;
}

main > section > h3 {
	color: black;
	background-image: linear-gradient(to right, var(--cor5), transparent);
	font-weight: bold;
	text-indent: 7px;
	font-weight: normal;
	font-family: 'Bebas Neue', sans-serif;
	border-radius: 5px;
	text-align: justify;
}
main > section > p {
	margin: 15px 0px;
	text-align: justify;
	text-indent: 30px;
	font-size: 0.8em;
	line-height: 0.9em;
	font-family: Arial, Helvetica, sans-serif;
	padding-bottom: 15px;
}

main > section {
	border-radius: 15px;
	background-image: linear-gradient(to right, var(--cor4), transparent);
}
img {
	width: 150px;

	padding-left: 40px;
}
/*footer*/

/*
footer {
	background-color: rgb(0, 0, 0);
	color: white;
	text-align: center;
	font-size: 0.8em;
	padding: 5px;
	font-weight: bolder;
	text-shadow: 0px 0px 8px 9px rgb(255, 255, 255);
}
*/
